$dark: rgb(20, 20, 20);
$danger: #ff0000;
$primary: #ac0a55;
$warning:  #ff8800;
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "/node_modules/bootstrap/scss/bootstrap.scss";